// ========== css-переменные ========== //

// Возможно, лучше использовать css-переменные, а не scss. Тогда, к примеру, в будущем можно очень легко на всем сайте поменять цвет, который применяется во множестве мест. Пример использования:

:root {
  --main-color: #000;
  --white-color: #fff;
  --main-font-family: "Roboto", "Arial", sans-serif;
  // самые частые font-size, font-family, font-weight, line-height вставляем в body без переменных. Но font-family можно занести в переменные.
}
// .block {
// color: var(--main-color);
// }

// ========== scss-переменные ========== //

// $mainColor - поменять на самый частый цвет в макете
// $mainColor: #000;

// $maxWidth - размер max-width для __container. Поменять на тот, что по макету

// $maxWidth: 1280px;

$maxWidthPx: 1280; // Это ширина в пикселях, но пишем без пикселей, чтобы пересчитать в ремы
$minWidthPx: 320;

// Если хотим maxWidth и minWidth в ремах, то пишем следующее:
$maxWidth: calc($maxWidthPx / 16 * 1rem);
$minWidth: calc($minWidthPx / 16 * 1rem);

// maxWidth и minWidth в ремах, но без единиц измерения (используется в формуле для адаптивных свойств):

$maxWidthRemWithout: calc($maxWidthPx / 16);
$minWidthRemWithout: calc($minWidthPx / 16);
// То есть будет, к примеру, не 2.25rem, а 2.25

//--------------------------//

// ============ Брейкпонты в пикселях ========== //

// $deskMiddle: 1399.98px;
// $desk: 1199.98px;
// $tablet: 991.98px;
// $mobile: 767.98px;
// $mobileMiddle: 575.98px;
// $mobileSmall: 479.98px;

// ============ Брейкпонты в ремах ========== //

// Для медиазапросов.
// Эти брейкпойнты - для desktop first. Если делаем верстку mobile first, то брейкпойнты другие - без дробей (992px, 768px и т.д.).

$deskMiddle: calc(1399.98 / 16 * 1rem); // 87.49875rem
$desk: calc(1199.98 / 16 * 1rem); // 74.99875rem
$tablet: calc(991.98 / 16 * 1rem); // 61.99875rem
$mobile: calc(767.98 / 16 * 1rem); // 47.99875rem
$mobileMiddle: calc(575.98 / 16 * 1rem); // 35.99875rem
$mobileSmall: calc(479.98 / 16 * 1rem); // 29.99875rem
$mobileXS: calc(374.98 / 16 * 1rem); // 23.43625rem

// То же, что и выше, но более короткие названия scss-переменных

$xxl: calc(1399.98 / 16 * 1rem); // 87.49875rem
$xl: calc(1199.98 / 16 * 1rem); // 74.99875rem
$lg: calc(991.98 / 16 * 1rem); // 61.99875rem
$md: calc(767.98 / 16 * 1rem); // 47.99875rem
$sm: calc(575.98 / 16 * 1rem); // 35.99875rem
$xs: calc(479.98 / 16 * 1rem); // 29.99875rem
$xxs: calc(374.98 / 16 * 1rem); // 23.43625rem

// При наборе, к примеру, md сработает сниппет и будет вставлено @media (max-width: $md) {}.
// При наборе, к примеру, mdmin сработает сниппет и будет вставлено @media (max-width: $mdmin) {}.

// Брейкпойнты для mobile first

$deskMiddleMin: calc(1400 / 16 * 1rem); // 87.5rem
$deskMin: calc(1200 / 16 * 1rem); // 75rem
$tabletMin: calc(992 / 16 * 1rem); // 62rem
$mobileMin: calc(768 / 16 * 1rem); // 48rem
$mobileMiddleMin: calc(576 / 16 * 1rem); // 36rem
$mobileSmallMin: calc(480 / 16 * 1rem); // 30rem
$mobileXSMin: calc(375 / 16 * 1rem); // 23.4375rem

// То же, что и выше, но более короткие названия scss-переменных

$xxlmin: calc(1400 / 16 * 1rem); // 87.5rem
$xlmin: calc(1200 / 16 * 1rem); // 75rem
$lgmin: calc(992 / 16 * 1rem); // 62rem
$mdmin: calc(768 / 16 * 1rem); // 48rem
$smmin: calc(576 / 16 * 1rem); // 36rem
$xsmin: calc(480 / 16 * 1rem); // 30rem
$xxsmin: calc(375 / 16 * 1rem); // 23.4375rem

// При наборе, к примеру, mdmin сработает сниппет и будет вставлено @media (max-width: $mdmin) {}.

// Брейкпойнты в ремах без ремов (без единиц измерения). Без дробей
// Для адаптивных свойств

$deskMiddleRemWithout: calc(1400 / 16);
$deskRemWithout: calc(1200 / 16);
$tabletRemWithout: calc(992 / 16);
$mobileRemWithout: calc(768 / 16);
$mobileMiddleRemWithout: calc(576 / 16);
$mobileSmallRemWithout: calc(480 / 16);
$mobileXSRemWithout: calc(375 / 16);
